* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --orange-01: #DA4339;
    --orange-02:  #FC7D76;
    --orange-03: #FFBBB7;
    --orange-04: #FFEDEC ;
}

body {
    height: 100vh;
    position: relative;
    background-color: #000;
}

.header {
    width: 100%;
    height: 45px;
    background: #DA4339;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.footer {
    width: 100%;
    height: 45px;
    background: #DA4339;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.main {
    width: 100%;
    height: 100%;
    padding: 65px 5px;
    background: #000;
}

.container {
    border-radius: 5px;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow-y: scroll;
    max-width: 320px;
    margin: 0 auto;
}

.nav {
    margin: 0 auto;
    height: 45px;
    width: 320px;
    display: flex;
    align-items: center;
}

.nav .container-burger-menu {
    position: relative;
    display: inline-block;
}

.nav .container-burger-menu button{
    border: none;
    background: none;
    cursor: pointer;
}

/* DROPDOWN */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 15px;
    border-radius: 0px 10px 10px 10px;
}

.dropdown-content h3, 
.dropdown-content p {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #000;
}

.dropdown-content h3 {
    margin-bottom: 5px;
}
    
.container-burger-menu:hover .dropdown-content {display: block;}

.container-white {
    background-color: #FFF;
}

.container-black {
    background-color: #000;
}

/* TÍTULO HEADER */

.title-header  {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.title-header h1 {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFF;
    letter-spacing: 1px;
}

.main-title-sin-loggear {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-title-sin-loggear .title-sin-loggear-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title-sin-loggear h2 {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #FFF;
}

.main-title-sin-loggear a {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #FFF;
    text-decoration: none;
}

.main-title-sin-loggear .line-bottom {
    width: 100%;
    height: 1px;
    background: #FFF;
    margin-top: 10px;
}

/* MODAL MENÚ SIN LOGGEAR */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    background-color: #FFF;
    margin: auto;
    padding: 15px 20px;
    border-radius: 5px;
    width: 310px;
    position: relative;
}
  
.close {
    color: #000;
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 32px;
    font-weight: 400;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* POP UP LOG IN */

.container-title-login-pop-up {
    display: flex;
    justify-content: center;
}

.container-title-login-pop-up h2 {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #000;
}

.container-log-in-text {
    margin-top: 15px;
}

.container-log-in-text p {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #000;
}

/* INPUT */

.container-log-in-form {
    margin-top: 15px;
}

.form-group-w-bor {
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 15px;
}

.form-group-w-bor input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #263238;
    padding-left: 12px;
}

.form-group-w-bor .bg-label {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #000;
    left: 12px;
    top: -7px;
}

.form-group-white .bg-label label {
    border: 4px solid #FFF;
}

.form-group-white .bg-label {
    background: #FFF;
}

.container-button .btn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background: var(--orange-02);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0, 0.5 );
    cursor: pointer;
}

.container-forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.container-forgot-password a {
    color: #000;
    font-size: 1.2rem;
    text-decoration: underline;
}

.container-not-registered {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.container-not-registered a {
    color: #000;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: underline;
}

/* Texo Filosofía */

.container-philosophy-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-philosophy-text p {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #FFF;
    line-height: 130%;
    letter-spacing: 0.5%;
}

/* ACCORDION */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.accordion-datos {
    width: 100%;
    height: 90px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000;
    background-color: var(--orange-03);
}

.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel-datos {
    background-color: var(--orange-03);
    padding: 0 10px;
}

/* TABS */

.tab {
    padding: 0 5px;
    overflow: hidden;
    background-color: #DDDDDD;
    height: 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    height: 37px;
    border-radius: 5px;
    width: 160px;
}
  
.tab button.active2 {
    background-color: #FFF;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .55);
}
  
.tabcontent {
    display: none;
    border-top: none;
    width: 100%;
    height: auto;
    background: #FFF;
    margin-bottom: 15px;
    border-radius: 5px;
}

.form-datos {
    padding: 15px 10px;
}  

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #828282;
    border-radius: 50px;
}

.menu-instruction-sin-loggear {
    background: #000;
    width: 100%;
    height: auto;
    margin: 15px 0;
    color: #FFF;
}

.menu-instruction-sin-loggear h3, 
.menu-instruction-sin-loggear p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
.menu-instruction-sin-loggear p {
    margin-top: 15px;
}

/* ACCORDION REGISTRO */

.accordion-registro {
    width: 100%;
    height: 50px;
    border: 1px solid #FFF;
    background: none;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.panel-registro {
    background: #000;
}

.border-panel-registro {
    width: 100%;
    height: 100%;
    border: 1px solid #FFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    padding: 15px 10px;
}

/* ACCORDION REGISTRO */

.panel-registro .form-group-black input{
    background-color: #000;
    border-color: #FFF;
}

.panel-registro .form-group-black .bg-label label {
    color: #FFF;
    border: 4px solid #000;
    background-color: #000;
}
